#information {
    width: 100%;
    background-color: $grey4;
    color: $white;

    .contact {
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;

        &:hover {
            background: $blue;
        }

        &:after {
            content: "";
            clear: both;
            display: block;
        }

        .info {
            float: left;
            color: $green;
            margin-left: 10px;
        }

        .infot {
            float: left;
            margin-left: 10px;
        }

        .infom {
            float: left;
            margin-left: 10px;
        }
    }

    @media (max-width:520px) {

        flex-direction: column;
        padding: 6px 0;
        margin-top: 0;

        .info {
            margin-bottom: 3px;
        }
    }
}

#topnav {
    background-color: $grey2;
    height: 120px;

    &:after {
        content: "";
        clear: both;
        display: block;
    }

    #logo {
        float: left;
        margin: 9px;
    }

    #menu {
        float: right;
        margin-right: 9px;
        font-size: 18px;

        a {
            text-decoration: none;
            color: black;

            &:hover {
                color: $blue;
            }
        }

        >ul {
            list-style: none;
            margin: 46px 0px;
            padding: 0;

            >li {
                display: inline;
                margin-left: 25px;

                >ul {
                    list-style: none;
                    display: none;
                }
            }

            .topNavButton {
                padding: 12px 26px;
                background: transparentize($grey3, $amount: 0.45);
                box-sizing: border-box;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 20px;
            }
        }
    }

    @media (max-width:520px) {

        flex-direction: column;
        padding: 6px 0;
        margin: 0;

        #menu {
            text-align: center;

            ul {
                margin: 20px;


                .topNavButton {
                    display: block;
                    background-color: $blue;
                    margin: 0;
                    padding: 2px;
                    margin-top: 15px;
                    text-align: center;
                }
            }

        }
    }
}
