.kontakt {
    .x {
        color: $blue;
        font-weight: bold;
    }

    .damian {
        font-weight: bold;
        font-size: $font-m;
    }

    .text_bottom {
        text-align: center;
    }
}