.services {

    margin-top: 5px;

    .services_title {
        padding: 0;
        font-size: $font-xl;
        text-align: center;
        clear: both;
    }

    .box {
        margin: 40px 160px;
        padding: 0;

        &:after {
            content: "";
            clear: both;
            display: block;
        }

        .box_pic {
            margin: 0px;
            padding: 0px;
            float: left;
            margin-right: 80px;
            border: 1px solid #000000;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        .txt {
            font-size: $font-lg;
            padding-top: 55px;
        }
    }

    .text_bottom {
        margin: 0 0 20px 160px;
        font-size: $font-md;
    }

    @media (max-width: 520px) {

        flex-direction: column;
        margin: 0;
        padding: 0px;

        .services_title {
            margin: 15px;
            font-size: $font-lg;
        }

        .box {
            margin: 0;
            padding: 0;
            text-align: center;

            .box_pic {
                float: none;
                margin: 0px;
                display: inline-block;

                img {
                    margin: 0;
                    padding: 0;
                }
            }

            .txt {
                padding: 0;
                margin: 30px 0px 20px;
                font-size: $font-sm;
            }
        }

        .text_bottom {
            display: none;
        }
    }
}

@media (max-width: 767px) {

    flex-direction: column;
    margin: 0;
    padding: 0px;

    .box {
        margin: 0;
        padding: 0;
        text-align: center;

        .box_pic {
            float: none;
            margin: 0px;
            display: inline-block;

            img {
                margin: 0;
                padding: 0;
            }
        }

     .txt {
            padding: 0px;
            margin: 30px 0px 20px;
            text-align: center;
            font-size: $font-sm;
        }
    }

    
}
