.carousel-stage {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: coral;
    height: 340px;
    .slider{
       margin: 0;
        padding: 0;
        height: 338px;
        .single-slide{     
            margin: 0;
            padding:0;
           .img{
               margin: 0;
               padding: 0;
            
            }
           }
            

}
    }
