// Colors
$white: #fff;
$blue: #156ED3;
$green: #ADE4EC;
$black: #000000;
$grey1: #eeeeee;
$grey2: #C4C4C4;
$grey3:#A2A2A2;
$grey4: #4E4E4E;

// Font families
$lato: "Lato", sans-serif;

// Font sizes
$font-xxs: 12px;
$font-xs: 16px;
$font-sm: 18px;
$font-m: 26px;
$font-md: 28px;
$font-lg: 30px;
$font-xl: 36px;
