body {
  margin: 0;
  width: 100%;
  background-color: #eeeeee;
  font-family: "Lato", sans-serif; }

#information {
  width: 100%;
  background-color: #4E4E4E;
  color: #fff; }
  #information .contact {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0; }
    #information .contact:hover {
      background: #156ED3; }
    #information .contact:after {
      content: "";
      clear: both;
      display: block; }
    #information .contact .info {
      float: left;
      color: #ADE4EC;
      margin-left: 10px; }
    #information .contact .infot {
      float: left;
      margin-left: 10px; }
    #information .contact .infom {
      float: left;
      margin-left: 10px; }
  @media (max-width: 520px) {
    #information {
      flex-direction: column;
      padding: 6px 0;
      margin-top: 0; }
      #information .info {
        margin-bottom: 3px; } }

#topnav {
  background-color: #C4C4C4;
  height: 120px; }
  #topnav:after {
    content: "";
    clear: both;
    display: block; }
  #topnav #logo {
    float: left;
    margin: 9px; }
  #topnav #menu {
    float: right;
    margin-right: 9px;
    font-size: 18px; }
    #topnav #menu a {
      text-decoration: none;
      color: black; }
      #topnav #menu a:hover {
        color: #156ED3; }
    #topnav #menu > ul {
      list-style: none;
      margin: 46px 0px;
      padding: 0; }
      #topnav #menu > ul > li {
        display: inline;
        margin-left: 25px; }
        #topnav #menu > ul > li > ul {
          list-style: none;
          display: none; }
      #topnav #menu > ul .topNavButton {
        padding: 12px 26px;
        background: rgba(162, 162, 162, 0.55);
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px; }
  @media (max-width: 520px) {
    #topnav {
      flex-direction: column;
      padding: 6px 0;
      margin: 0; }
      #topnav #menu {
        text-align: center; }
        #topnav #menu ul {
          margin: 20px; }
          #topnav #menu ul .topNavButton {
            display: block;
            margin: 0;
            padding: 2px;
            margin-top: 15px;
            text-align: center; } }

.carousel-stage {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #C4C4C4; }
  .carousel-stage .slider {
    margin: 0;
    padding: 0; }
    .carousel-stage .slider .single-slide {
      margin: 0;
      padding: 0; }
      .carousel-stage .slider .single-slide img {
        margin: 0;
        padding: 0;
        display: block; }
  .carousel-stage .dots {
    margin: 0;
    padding: 3px; }
    .carousel-stage .dots ul {
      list-style: none;
      width: 100%;
      margin: 0;
      padding: 0;
      text-align: center; }
      .carousel-stage .dots ul .dot {
        background: #156ED3;
        border-radius: 50%;
        display: inline-block;
        width: 20px;
        height: 20px;
        cursor: pointer; }

.services {
  margin-top: 5px; }
  .services .services_title {
    padding: 0;
    font-size: 36px;
    text-align: center;
    clear: both; }
  .services .box {
    margin: 40px 160px;
    padding: 0; }
    .services .box:after {
      content: "";
      clear: both;
      display: block; }
    .services .box .box_pic {
      margin: 0px;
      padding: 0px;
      float: left;
      margin-right: 80px;
      border: 1px solid #000000;
      box-sizing: border-box;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25); }
    .services .box .txt {
      font-size: 30px;
      padding-top: 55px; }
  .services .text_bottom {
    margin: 0 0 20px 160px;
    font-size: 28px; }
  @media (max-width: 520px) {
    .services {
      flex-direction: column;
      margin: 0;
      padding: 0px; }
      .services .services_title {
        margin: 15px;
        font-size: 30px; }
      .services .box {
        margin: 0;
        padding: 0;
        text-align: center; }
        .services .box .box_pic {
          margin: 0px; }
          .services .box .box_pic img {
            margin: 0;
            padding: 0; }
        .services .box .txt {
          padding: 0;
          margin: 30px 0px 20px;
          font-size: 18px; }
      .services .text_bottom {
        display: none; } }

.footernav {
  background-color: #4E4E4E;
  width: auto;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  @media (max-width: 991px) {
    .footernav {
      padding: 6px 0;
      margin: 0; }
      .footernav .footermenu {
        padding: 9px; }
      .footernav .prawa {
        margin-top: 20px;
        font-size: 12px; } }
  @media (max-width: 767px) {
    .footernav {
      padding: 6px 0;
      margin: 0; }
      .footernav .footermenu {
        padding: 30px; }
      .footernav .prawa {
        font-size: 12px; } }
  @media (max-width: 520px) {
    .footernav {
      flex-direction: column;
      padding: 6px 0;
      margin: 0; }
      .footernav .footermenu {
        padding: 20px;
        text-align: center; } }
  .footernav .prawa {
    font-size: 12px; }

#footerlogo {
  flex-grow: 2;
  margin: 9px; }

.footerSocialMedia {
  text-align: center;
  display: inline;
  flex-grow: 2; }
  .footerSocialMedia img {
    width: 25px; }

.footermenu {
  flex-grow: 1;
  font-size: 18px;
  text-align: right; }
  .footermenu a {
    text-decoration: none;
    color: #C4C4C4; }
    .footermenu a:hover {
      color: #156ED3; }
  .footermenu ul {
    margin: 0;
    padding: 0; }
    .footermenu ul li {
      list-style: none;
      display: inline-block;
      text-decoration: none;
      color: black;
      margin-left: 25px; }
    .footermenu ul .topNavButton {
      padding: 12px 26px;
      background: rgba(162, 162, 162, 0.55);
      box-sizing: border-box;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 20px; }
      @media (max-width: 520px) {
        .footermenu ul .topNavButton {
          background-color: #156ED3;
          margin: 0;
          padding: 2px;
          display: block;
          margin-top: 25px; } }

.prawa {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
  clear: both;
  font-size: 16px; }

/*# sourceMappingURL=style.css.map */
