
.icon-phone:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-linkedin-1:before { content: '\f31a'; } /* '' */